.analysis-page {
  .analysis {
    &-item {
      padding: 18px 20px;
      height: 150px;
      border-radius: 6px;
      text-align: center;
      &__title {
        font-size: 14px;
        font-weight: 600;
      }
      &__count {
        font-size: 60px;
        font-weight: 800;
      }
      &__desc {
        position: relative;
        top: -22px;
        font-size: 12px;
      }
    }
    
    &-box {
      &:nth-child(1) {
        .analysis-item {
          background-color: #86629f14;
          color: #7c5397;
          &__title {
            color: #7c5397;
          }
          &.second {
            background-color: #99cd5f33;
            color: #93c16f;
            h5 {
              color: #93c16f;
            }
          }
        }
      }
      &:nth-child(2) {
        .analysis-item {
          background-color: #d395b240;
          color: #c8548d;
          &__title {
            color: #c8548d;
          }
          &.second {
            background-color: #f4e4eb;
            color: #bf5288;
            h5 {
              color: #bf5288;
            }
          }
        }
      }
      &:nth-child(3) {
        .analysis-item {
          background-color: #ff852e2b;
          color: #f0a85c;
          &__title {
            color: #f0a85c;
          }
          &.second {
            background-color: #f3c26938;
            color: #f0a85c;
            border: 2px solid #efa85c36;
            h5 {
              color: #f0a85c;
            }
          }
        }
      }
      &:nth-child(4) {
        .analysis-item {
          background-color: #67af2621;
          color: #7dc73a;
          h5 {
            color: #7dc73a;
          }
        }
      }
    }

    &-table {
      .table {
        &-header {
          display: flex;
          justify-content: space-between;
          background-color: #f5f5f5;
          padding: 11px 20px;
        }
        &-item {
          img {
            width: 40px;
            height: 40px;
            border-radius: 100px;
          }
          &__title {
            font-size: 14px;
          }
        }
      }
    }
  }
}
